#customize-control-listable_options-mapbox_style_control .customify_radio_image {
	display: block;
	margin-left: -10px;
}
#customize-control-listable_options-mapbox_style_control .customify_radio_image label {
	margin-bottom: 10px;
	margin-right: 0;
	padding-left: 10px;
	width: 50%;
}
#customize-control-listable_options-mapbox_style_control .customify_radio_image label img {
	height: auto;
	max-width: 100%;
	width: auto !important;
}
#customize-control-listable_options-mapbox_style_control .customify_radio_image label input[type=radio]:checked + img {
	border: 0 !important;
	outline: 2px solid #00a0d2;
}
